.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
.pregunta {
  display: var(--display);
  gap: 10px;
  position: fixed;
  bottom: 10px;
  z-index: 100;
}
.pregunta input {
  padding: 10px;
  width: 85vw;
}
.pregunta button {
  padding: 3px;
}
.ul {
  padding: 10px;
  margin-bottom: 30px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  overflow: visible;
  gap: 15px;
}
.user {
  background-color: navy;
  color: white;
  width: fit-content;
  align-self: flex-start;
  justify-self: flex-start;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  position: relative;
}
.user::before {
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  background-image: var(--url);
  background-position: -50%;
  transform: scaleX(-1);
  left: -35px;
  top: -40px;
}
.ai {
  background-color: gray;
  color: white;
  width: fit-content;
  align-self: flex-end;
  justify-self: flex-end;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.ai code {
  background-color: black;
  padding: 0 5px;
}
.ai::before {
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  background-image: var(--url);
  right: -40px;
  top: 15px;
}
.sys {
  display: none;
}
.nada {
  align-self: center;
  justify-self: center;
  padding: 10px;
  border-radius: 15px;
  list-style: none;
  background-color: gray;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh;
}
.nada ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.nada ul li {
  list-style-type: square;
}
.api {
  display: var(--display);
  gap: 10px;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  align-items: center;
}
.api input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 75%;
}
.api button {
  width: fit-content;
  padding: 1px 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
}
.espera {
  animation: anim 1s infinite linear;
  z-index: 110;
  position: fixed;
  bottom: 20px;
}
@keyframes anim {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 5rem;
  }
  .pregunta input {
    width: 75vw;
  }
  .ul {
    width: 80vw;
    gap: 25px;
  }
  .nada {
    min-height: 80vh;
  }
  .nada ul {
    gap: 15px;
    width: 95%;
  }
  .nada ul li {
    list-style: none;
    background-color: #888;
    box-shadow: 0 0 5px -2px black;
    border-radius: 10px;
    padding: 2px;
  }
  .api {
    gap: 15px;
    width: 95%;
  }
  .api input {
    width: 95%;
    text-align: center;
  }
  .api button {
    padding: 2px 15px;
    border-radius: 5px;
  }
}
